@use "../custom" as *;
@use "../components/mixins" as *;
.menu {
    @include gradient;
    a {
        padding: 0 0.7rem;
        font-weight: 600;
        text-transform: capitalize;
        max-width: 100px;
    }

    // img {
    //     width: 100px;
    // }
}
